.weather__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 24px 0;
}

.weather__btn {
    position: relative;
    font-size: 20px;
    font-family: 'Montserrat';
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    color: #fff;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: all 0.3s;
}

.weather__btn:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}

.weather__btn:hover::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/color/48/000000/russian-federation-circular.png");
}

.weather__btn:nth-child(2):hover::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/color/48/000000/finland-circular.png");
}

.weather__btn:nth-child(3):hover::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/color/48/000000/portugal-circular.png");
}

.weather__btn:nth-child(4):hover::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/color/48/000000/australia-circular.png");
}

.weather__btn:nth-child(5):hover::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/color/48/000000/iceland-circular.png");
}

.weather__btn:nth-child(6):hover::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/color/48/000000/austria-circular.png");
}

.weather__btn:nth-child(7):hover::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/color/48/000000/canada-circular.png");
}

.weather__btn:nth-child(8):hover::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/color/48/000000/france-circular.png");
}

.weather__btn:nth-child(9):hover::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/color/48/000000/madagascar-circular.png");
}

.weather__btn:nth-child(10):hover::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/color/48/000000/norway-circular.png");
}

.weather__btn:active {
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    padding: 8px 18px;
    transition: all 0.3s;
}

@media (max-width: 1440px) {
    .weather__buttons {
        width: calc(100% / 1.5);
        align-items: center;
        margin: 0 auto;
    }
    .weather__btn {
        margin: 10px;
    }
}

@media (max-width: 992px) {
    .weather__buttons {
        width: calc(100% / 2);
        align-items: center;
        margin: 0 auto;
    }
    .weather__btn {
        margin: 10px;
    }
}