.footer {
    /*height: 100px;*/
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    text-align: center;
    padding: 20px 0;
}

.footerText {
    font-family: 'Montserrat';
    font-weight: bold;
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	background-clip: text;
	font-size: 50px;
}